* {
    box-sizing: border-box;
}

@font-face {
    
    font-family: "Open Sans";
    font-family: "Scope One";
    src: url('fonts/ScopeOne-Regular.ttf') format('truetype');
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}


header{
    background: rgba(202, 199, 199, 0.233);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main-nav{
    list-style: none;
}

.nav li a{
    display: block;
    background: white;
    margin: 20px auto;
    padding: 15px 15px 15px 15px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

header img{
 width:70%
}

.tag{
    margin: 2.4rem auto;
    color: rgba(0, 0, 0, 0.486);
}

main{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}


section img{
    width: 100%;
    max-width:1150px;
}

#main-portfolio{
    margin: 2.3rem auto;
}

section{
    font-family: "Scope One";
    font-size: 1.3rem;
    margin: 1rem auto;
}


footer{
    background: rgba(202, 199, 199, 0.233);
    text-align: center;
    margin: 8rem auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    
}

.footer-container1{
    padding-top: 1.3rem;
    padding-bottom: 20px;
}


.footer-content{
    color: rgba(0, 0, 0, 0.486);
    margin: 20px 0;
    padding: 10px;
}

.footer-container2 {
    border-top: 1px solid rgba(160, 154, 154, 0.233);
    margin: 20px;
    text-align: center;
    padding: 40px 0 10px 0;
    font-size: 1rem;
}

.name{
    float:left;
}

.back-top a{
    float: right;
    text-decoration: none;
    color: black;
}